body {
    font: 8px Arial;
    height: 2000px;
}


/* Center the loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0cac79;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


/*Modal for multiple chart view*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full trajectoryPlotWidth */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    max-width: 1000000px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /*trajectoryPlotMargin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000000px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#loadFileHint{
    padding: 5px;
    font-size: 15px;
    width: 150px;
    height: 80px;
    border: 3px dashed dimgrey;
    margin-left: 0;
    margin-top: 160px;

}

.sidenav {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0cac79;
    overflow-x: hidden;
    padding-top: 5px;
    box-shadow: 5px 5px 5px grey;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}

.sidenav a svg path {
    stroke: #000000 !important;
}

.sidenav a:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.sidenav a:hover svg path {
    stroke: #ffffff !important;
}

.trajectory-view-menu-container {
margin-left: 10%;
margin-top: 120px;
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


#singa_logo {
    /*margin-top: 10px;*/
    /*margin-bottom: 50px;*/
    width: auto;
    height: 60px;
    float: right;
    margin-right: 5%;

}

#trajectory-view-heatmap {

    height: 520px;
    width: 480px;
    position: absolute;
    margin: 0 0 10px 10px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#heatmap-view-slider {
    width: 1290px;
    height: 100px;
    margin: 5px 25px 25px 10px;
    background-color: #ffffff;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

#heatmap-view-species-selection{
    width: 1290px;
    height: 50px;
    margin: 5px 25px 25px 10px;
    background-color: #ffffff;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#trajectory-view-graph {
    width: 800px;
    height: 520px;
    margin: 25px 25px 10px 500px;
    background-color: #ffffff;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.list {
    float: left;
    width: 33%;
    margin-left: auto;
    padding: 20px;
}

.list p {
    text-align: center;
}


path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #0cac79 !important;
    border-color: #0cac79 !important;
    margin-left: 5px;
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 192, 135, 0.63) !important;
}

a.nav-link, a.nav-link:hover {
    color: #1e7e34;
    font-size: 1.3rem;
}

.col-md-4 {
    width: unset !important;
    padding: 0 !important;

}

.card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.card.card-body {
    border-radius: unset;
}

.list-group-item:first-child {
    border-top-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.search_div{
    margin: 10px;
}

.btn-outline-secondary {
    margin-left: 10px;
}

.list-group-item.list-group-item-action.list-group-item-success {
    color: #155724;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-top: 20px;

}

.nav.nav-tabs.justify-content-center.visible {
    justify-content: end !important;

}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.slideControl {fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1px;
}

#play-button {

    position: absolute;
    vertical-align: middle;
    margin: 33px;
}

.trajectory.view.graph.verticalLine.valueLabel{

    z-index: 5;

}

div.nodeTooltip {
    margin-left: 10px;
    position: absolute;
    text-align: center;
    width: 180px;
    height: 50px;
    padding: 10px 2px 2px;
    font: 12px sans-serif;
    background: #ffffff;
    border-radius: 8px;
    pointer-events: none;

    border: 2px black;
}




