body {
    font: 8px Arial;
    height: 2000px;
}

/*Modal for multiple chart view*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full trajectoryPlotWidth */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-width: 1000000px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /*trajectoryPlotMargin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000000px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica;
    color: #000000;
    display: block;
}

.sidenav a svg path {

    stroke: #000000 !important;
}

.sidenav a:hover {
    color: #0cac79;
    font-weight: bold;
    text-decoration: none;
}

.sidenav a:hover svg path {
    stroke: #0cac79!important;
}

.trajectory-view-menu-container {
    margin-left: 250px; /* Same as the trajectoryPlotWidth of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    font-family: Helvetica;
    padding: 0px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




#header{
    width: 100%;
    background-color: #f5f5f5;
}

#contents{
    margin-top: 60px;
}

#nav {
    width: 100%;
    height: 60px;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    z-index: 1;
    position: relative;
    text-align: center;
}

#singa_logo{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 200px;
    height: auto;

}

#folder{
    width: 25px;
    height: auto;
}

#file{
    vertical-align: sub;
    width: auto;
    height: 25px;
}

#headmap_icon{
    width: 25px;
    height: auto;

}

#trajectory-view-heatmap{

    height: 520px;
    width: 480px;
    position: absolute;
    margin: 0px 0px 10px 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


#slider_div{
    width: 1290px;
    height: 100px;
    margin: 5px 25px 25px 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

.titleDiv{
    text-align: center;
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    /*padding: 10px 15px;*/
    border-bottom: 1px solid #DDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#trajectory-view-graph {
    width: 800px;
    height: 520px;
    margin: 25px 25px 10px 500px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.container{
    margin-top: 10%;
    margin-left: auto;
    width: 50%;
    padding: 2%;
    background-color: #999999;
}

.list{
    float: left;
    width: 33%;
    margin-left: auto;
    padding: 20px;
}

.list p{
text-align: center;
}


path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited , .btn-primary:focus{
    background-color: #0cac79 !important;
    border-color: #0cac79 !important;
    margin-left: 5px;
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.btn-outline-cool, .btn-outline-cool:hover, .btn-outline-cool:active, .btn-outline-cool:visited , .btn-outline-cool:focus{
    /*background-color: #c734d3 ;*/
    border-color: #219c68;
    margin-left: 10px;
}

.btn.btn-primary:focus {
     box-shadow: 0 0 0 0.2rem rgba(12, 192, 135, 0.63) !important;
}

a.nav-link, a.nav-link:hover {
    color: #1e7e34;
    font-size: 1.3rem;
}

.col-md-4{
    width: unset !important;
    padding: 0 !important;

}

.card{
    border: 1px solid rgba(0,0,0,.125) !important;
}

.card.card-body{
    border-radius: unset;
}
.list-group-item:first-child{
    border-top-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.search_div{
    margin: 10px;
}

.btn-outline-secondary{

    margin-left: 10px;
}

.list-group-item.list-group-item-action.list-group-item-success{

    color: #155724;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-top: 20px ;

}

.nav.nav-tabs.justify-content-center.visible{
justify-content:end !important;

}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}




#play-button {

    position: absolute;
    vertical-align: middle;
    margin: 33px;
}




