body {
    font: 8px Arial;
}


/* Center the loader */
.loader {
    left: 50%;
    top: 40%;
    position: fixed;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #0cac79;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


/*Modal for multiple chart view*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full trajectoryPlotWidth */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    max-width: 1000000px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /*trajectoryPlotMargin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000000px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#loadFileHint{
    position: fixed;
    z-index: 9;
    padding: 5px;
    font-size: 15px;
    width: 150px;
    height: 80px;
    border: 3px dashed dimgrey;
    margin-left: -75px;
    margin-top: 15%;
    left: 50%;
}

#trajectory-view-hint{
margin-left: auto;
    margin-right: auto;
    z-index: 9;
    padding: 5px;
    font-size: 15px;
    width: 240px;
    height: 90px;
    border: 3px dashed dimgrey;
    margin-top: 15%;
}

.sidenav {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0cac79;
    overflow-x: hidden;
    padding-top: 5px;
    box-shadow: 5px 5px 5px grey;
    padding-left: 20px;
    padding-right: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

.sidenav a svg path {
    stroke: #ffffff !important;
}

.sidenav a:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.sidenav a:hover svg path {
    stroke: #ffffff !important;
}

.trajectory-view-menu-container {
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
margin-top: 120px;
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


#singa_logo {
    /*margin-top: 10px;*/
    /*margin-bottom: 50px;*/
    width: auto;
    height: 60px;
align-self: end;
    position: fixed;
    margin-right: 2%;
    margin-left: 90%;

}

#trajectory-view-heatmap {
    float: left;
    height: 520px;
    width: 480px;
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

#heatmap-view-slider {

    width: 650px;
    height: 100px;
    margin: 50px auto 25px auto;
    background-color: #ffffff;
    text-align: justify;
    box-sizing: border-box;
}

#heatmap-view-species-selection{
    width: max-content;
    height: 50px;
    margin: 0 auto 25px auto;
    background-color: #ffffff;
    text-align: justify;
    box-sizing: border-box;
}

#trajectory-view-graph {
    text-align: center;
    width: 800px;
    height: 520px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#data-view-table{

    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid #bfbfbf;*/
    /*border-radius: 0.25rem;*/
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.list {
    float: left;
    width: 33%;
    margin-left: auto;
    padding: 20px;
}

.list p {
    text-align: center;
}


path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #0cac79 !important;
    border-color: #0cac79 !important;
    margin-left: 5px;
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
}

.btn.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(12, 192, 135, 0.63) !important;
}

a.nav-link, a.nav-link:hover {
    color: #1e7e34;
    font-size: 1.3rem;
}

.col-md-4 {
    width: unset !important;
    padding: 0 !important;

}

.card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.card.card-body {
    border-radius: unset;
}

.list-group-item:first-child {
    border-top-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.search_div{
    margin: 10px;
}

.btn-outline-secondary {
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

.list-group-item.list-group-item-action.list-group-item-success {
    color: #155724;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-top: 20px;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.slideControl {fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1px;
}

#play-button {

    position: absolute;
    vertical-align: middle;
    margin-top: 33px;
}

.trajectory.view.graph.verticalLine.valueLabel{

    z-index: 5;

}

div.nodeTooltip {
    margin-left: 10px;
    position: absolute;
    text-align: center;
    width: 180px;
    height: 50px;
    padding: 10px 2px 2px;
    font: 12px sans-serif;
    background: #ffffff;
    border-radius: 8px;
    pointer-events: none;

    border: 2px black;
}

div.infoTooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #110600;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: #ffffff;
    padding: 5px;
}

nav {
    width: 100%;
    padding: 0 0;
}
nav ul {
    list-style: none;
    margin-block-end: 0; !important;
    padding-inline-start: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    /*margin: 15px 10px;*/
    padding: 15px 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #ffffff;
}

/* SHIFT */

section {
    height: 100vh;
}

nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #ffffff;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #ff6212;
    /*visibility: none;*/
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}


#optionModal {
    width: 200px;
    height: 200px;
    padding: 0.5em;
    z-index: 100;
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    border-radius: 0.25rem;
}

#nav-button{
    background-color: unset;
    border: unset;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    /*margin: 15px 10px;*/
    padding: 15px 10px;

}

/*.tooltip {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    border-bottom: 1px dotted black;*/
/*}*/


/*.tooltip .tooltiptext {*/
/*    visibility: hidden;*/
/*    width: 120px;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 5px 0;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    bottom: 125%;*/
/*    left: 50%;*/
/*    margin-left: -60px;*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s;*/
/*}*/

/*.tooltip .tooltiptext::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #555 transparent transparent transparent;*/
/*}*/

/*.tooltip:hover .tooltiptext {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/