body {
    font: 12px Arial;
    height: 2000px;
}

/*Modal for multiple chart view*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-width: 1000000px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /*margin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000000px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#main{
    min-height: 100%;
    background-color: #ffffff;
}

#header{
    width: 100%;
    background-color: #f5f5f5;
}

#contents{
    margin-top: 60px;
}

#nav {
    width: 100%;
    height: 60px;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    z-index: 1;
    position: relative;
    text-align: center;
}

img{
    margin-left: 10px;
    width: auto;
    height: 45px;

}

.graph{
    width: 1000px;
    margin: 25px auto 25px auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.titleDiv{
    text-align: center;
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    /*padding: 10px 15px;*/
    border-bottom: 1px solid #DDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.trajectory {
    height: 500px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.container{
    margin-top: 10%;
    margin-left: auto;
    width: 50%;
    padding: 2%;
    background-color: #999999;
}

.list{
    float: left;
    width: 33%;
    margin-left: auto;
    padding: 20px;
}

.list p{
text-align: center;
}

.Boxes{
    margin-top: auto;
    background-color: #777f5d;
}

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited , .btn-primary:focus{
    background-color: #1de2a3 !important;
    border-color: #1dd398ff !important;
    margin-left: 5px;
}

.btn-outline-cool, .btn-outline-cool:hover, .btn-outline-cool:active, .btn-outline-cool:visited , .btn-outline-cool:focus{
    background-color: #c734d3 ;
    border-color: #c734d3 ;
}

.btn.btn-primary:focus {
     box-shadow: 0 0 0 0.2rem rgba(12, 192, 135, 0.63) !important;
}

a.nav-link, a.nav-link:hover {
    color: #1e7e34;
    font-size: 1.3rem;
}

.col-md-4{
    width: unset !important;
    padding: 0 !important;

}

.card{
    margin: 15px !important;
    border: 2px solid #1f7634 !important;
    border-radius: .50rem !important;

}

.search_div{
    margin: 10px;
}




